.row {
  --bs-gutter-x: 0rem !important;
  --bs-gutter-y: 0 !important;
  display: flex !important;
  flex-wrap: wrap !important;
  margin-top: calc(-1* var(--bs-gutter-y)) !important;
  margin-right: calc(-.5* var(--bs-gutter-x)) !important;
  margin-left: calc(-.5* var(--bs-gutter-x)) !important;
}

.card-col {
  margin: 0 !important;
  padding: 0 !important;
}



/* .card-col {
  padding: 10px;
} */